/* line 2, ics_calendar.sass */
.ics_calendar .printer_icon { margin-top: 1em; display: none; }
/* line 5, ics_calendar.sass */
.ics_calendar .event_title { font-weight: bold; }
/* line 8, ics_calendar.sass */
.ics_calendar .event_time span { display: none; }
/* line 11, ics_calendar.sass */
.ics_calendar .ics_calendar_list h3 { border-top: 1px dotted gray; padding-top: 0.5em; }
/* line 14, ics_calendar.sass */
.ics_calendar .ics_calendar_list ul { margin: 0 0 10px 0 !important; padding: 0 !important; }
/* line 17, ics_calendar.sass */
.ics_calendar .ics_calendar_list ul li { margin: 0 !important; padding: 0 !important; list-style-type: none; font-size: 0.9em; width: 180px; list-style-position: inside; color: gray; }
/* line 25, ics_calendar.sass */
.ics_calendar .ics_calendar_list ul li .spacer { display: none; }
/* line 27, ics_calendar.sass */
.ics_calendar .ics_calendar_list ul li .event_location { display: block; font-style: italic; padding-left: 0.5em; }
/* line 32, ics_calendar.sass */
.ics_calendar .event_calendar-nav-wrapper h3 { font-size: 1.7em; }
/* line 34, ics_calendar.sass */
.ics_calendar .event_calendar-nav-wrapper .pager { float: right; text-align: right; }
/* line 37, ics_calendar.sass */
.ics_calendar .event_calendar { font-size: 0.9em; width: 100%; border-collapse: collapse; }
/* line 41, ics_calendar.sass */
.ics_calendar .event_calendar th { text-align: center; }
/* line 43, ics_calendar.sass */
.ics_calendar .event_calendar tr { border-width: 0px; }
/* line 45, ics_calendar.sass */
.ics_calendar .event_calendar td { width: 14.2%; vertical-align: top; padding: 4px; }
/* line 46, ics_calendar.sass */
.ics_calendar .event_calendar td strong { font-weight: bold; }
/* line 51, ics_calendar.sass */
.ics_calendar .event_calendar td.day { border: 1px solid #cccccc; min-height: 90px; height: 90px; }
/* line 55, ics_calendar.sass */
.ics_calendar .event_calendar td.today { border-color: #7c7f12; border-width: 2px; }
/* line 58, ics_calendar.sass */
.ics_calendar .event_calendar td.row-odd { background-color: #efefef; border-color: #efefef; }
/* line 61, ics_calendar.sass */
.ics_calendar .event_calendar td .daylabel { text-align: right; color: white; color: #777777; padding-right: 0.5em; }
/* line 66, ics_calendar.sass */
.ics_calendar .event_calendar td .daylabel span { display: none; }
/* line 68, ics_calendar.sass */
.ics_calendar .event_calendar td .events { margin: 0; padding: 0; }
/* line 71, ics_calendar.sass */
.ics_calendar .event_calendar td .events li { margin: 0 0 0.2em 0; padding: 0; list-style-type: none; }
/* line 75, ics_calendar.sass */
.ics_calendar .event_calendar td .events li.all_day { text-align: center; font-style: italic; }
/* line 78, ics_calendar.sass */
.ics_calendar .event_calendar td .events li dl { position: relative; display: inline; }
/* line 82, ics_calendar.sass */
.ics_calendar .event_calendar td .events li dl:hover dd { display: block; }
/* line 84, ics_calendar.sass */
.ics_calendar .event_calendar td .events li dt { display: inline; cursor: pointer; }
/* line 87, ics_calendar.sass */
.ics_calendar .event_calendar td .events li dd { display: none; position: absolute; top: 2em; left: 0px; width: 250px; padding: 1em; height: auto; background: black; z-index: 99999999; color: white; }
/* line 100, ics_calendar.sass */
.ics_calendar .event_calendar.weekly th .daylabel { float: right; }
@media only screen and (max-width: 680px) { /* line 105, ics_calendar.sass */
  .ics_calendar .event_calendar table, .ics_calendar .event_calendar thead, .ics_calendar .event_calendar tbody, .ics_calendar .event_calendar tfoot, .ics_calendar .event_calendar th, .ics_calendar .event_calendar td, .ics_calendar .event_calendar tr { display: block; width: 100% !important; border: 0 !important; position: static !important; }
  /* line 110, ics_calendar.sass */
  .ics_calendar .event_calendar td.day { min-height: 0px !important; height: auto !important; }
  /* line 113, ics_calendar.sass */
  .ics_calendar .event_calendar table * { position: static !important; }
  /* line 115, ics_calendar.sass */
  .ics_calendar .event_calendar th { display: none; }
  /* line 119, ics_calendar.sass */
  .ics_calendar .event_calendar .events li.all_day { text-align: left !important; }
  /* line 121, ics_calendar.sass */
  .ics_calendar .event_calendar .events li dl { position: static !important; display: inline; }
  /* line 125, ics_calendar.sass */
  .ics_calendar .event_calendar .events li dl:hover dd { display: block; }
  /* line 127, ics_calendar.sass */
  .ics_calendar .event_calendar .events li dt { display: inline; cursor: pointer; }
  /* line 130, ics_calendar.sass */
  .ics_calendar .event_calendar .events li dd { position: static !important; max-width: 90% !important; }
  /* line 133, ics_calendar.sass */
  .ics_calendar .event_calendar .no_events { display: none; }
  /* line 135, ics_calendar.sass */
  .ics_calendar .event_calendar .daylabel { text-align: left !important; border-bottom: 1px solid #777777; margin-bottom: 1em; }
  /* line 139, ics_calendar.sass */
  .ics_calendar .event_calendar .daylabel span { display: inline !important; } }
